################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UnitTestsForProject/UnitTestsForProject/obj/Debug
/UnitTestsForProject/.vs/UnitTestsForProject/v14/.suo
